@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: antiquewhite;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.dami{
    
    margin: 20px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    font-weight: lighter;
}
.ham{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
}
.ham div {
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 5px;
}
.about{
    text-transform: uppercase;
    position: absolute;
    font-weight:lighter;
    font-size: 21px;
    font-family: 'Hubballi', cursive;
    left: 10%;
    top: 140px;
    color: rgba(0, 0, 0, 0.596);
}
.drop{
    width: 30vw;
    height: 0vh;
    background-color: rgba(134, 99, 67, 0.596);
    position: absolute;
    right: 20px;
    top: 70px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:lighter;
    font-size: 15px;
    font-family: Geneva, Tahoma, sans-serif;
    backdrop-filter: blur(2px);
    border-radius: 5px;
    transition: height .4s;
    overflow: hidden;
    border-top: 2px solid rgba(0, 0, 0, 0.733);
    opacity: 0;
}
.drip{
    height: 40vh;
    opacity: 1;
}
.drop ul{
    list-style-type: none;
}
.drop li{
    margin: 20px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
}

.uti{
   margin-top: 200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
    
}
.ut{
    width: 45%;
    height: 400px;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    overflow: hidden;
   
}
li img{
    width: 100%;
    height: 30%;
    object-fit: contain;
    
}
li h1{
   
    text-transform: uppercase;
    font-family: 'Fredoka', sans-serif;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.938);
    
    margin-top: 10px;
    
}
li h6{
    
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.74);
    left: 10px;
    margin-top: 20px;
    width: 90%;
    margin-left: 10px;
    color: rgb(77, 76, 76);
    font-weight: lighter;
    text-align: start;
}
.ut ul{
    
    list-style-type: none;
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
    
    width: 90%;
    flex-wrap: wrap;
}
.ut li{
    font-family: 'Hubballi', cursive;
    font-size: 14px;
    color: rgb(53, 52, 52);
    margin-left: 20px;
    margin-top: 10px;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: black;
    font-size: bolder;
}
.ut h5{
    
    margin-top: 40px;
    
    font-family: 'Fredoka', sans-serif;
    font-size: 12px;
    background-color: rgba(218, 187, 159, 0.863);
    padding: 10px;
    border-radius: 5px;
    font-weight: lighter;
}




@media (max-width:450px){
    .ham{
        right: 40px;
        top: 40px;
    }
    .dami{
        font-size: 15px;
        margin: 40px;
    }
    .ut h5{
        font-size: 10px;
        margin-top: 30px;
    }
    .ut h1{
        font-size: 11px;
    }
    .ut h6{
        font-size: 9px;
        margin-top: 30px;
    }.ut img{
        object-fit: cover;
       
    }
    .ut li{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .ut ul{
        margin-left: 20px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin-top:10px ;
    }
    .about{
        top: 100px;
    }
    .ut{
        width: 100%;
        height: inherit;
    }
    .uti{
        margin-top: 100px;
        
    }
}